* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
} /* remove top and left whitespace */
canvas {
  display: block;
} /* remove scrollbars */
canvas:focus {
  outline: 0;
}
.p5Canvas {
}
.best{
  font-size:64;
}
.stats{
  font-size:21;
  margin:1%;
  text-align: left;
}